/* All styles for your Card Components live here */
.card-container {    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15%;    
    width: 85%;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.card-container img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

a {
    text-decoration: none;
    color: black;
}

.card-content {
    padding: 1rem 2rem;
}

.card-content h4 {
    font-weight: bold;
}