.container {
    display: flex;
    flex-direction: column;
    width:455px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;    
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    width: 74%;    
}

.operators {
    display: flex;
    flex-wrap: wrap;
    width: 26%;
}